<ion-card style="text-align: initial;" class="ion-activatable ripple-parent" mode="ios">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
        <ion-card-title>Contacto:</ion-card-title>
    </ion-card-header>
    <ion-card-content>Si necesitas comunicarte directamente con personal de LBS+, por favor enviar un mensaje vía WhatsApp al número:
        <ion-item lines="none">
            <ion-icon name="logo-whatsapp" style="color: green;"></ion-icon>
            <ion-label>
                6691625682
            </ion-label>


        </ion-item>
        Horario: De lunes a viernes de 8am a 2pm y de 6pm a 8pm. Sábado de 9 am a 2pm (Horario centro)


    </ion-card-content>
</ion-card>