<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title size="large" style="text-align: center;">{{ data.escolaridad }}</ion-title>
    <ion-buttons slot="start">
      <ion-button style="margin-top: 8px;margin-left: 8px;" (click)="back()">
          <ion-icon size="large" slot="icon-only" color="dark" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-list mode="ios">


  <ion-item button detail="true" mode="ios" *ngFor="let item of LstGrupos" (click)="verAlumnos(item)">
    <ion-avatar slot="start">
      <img src="assets/img/groups.png">
    </ion-avatar>
    <ion-label>
      <h2>{{ item.Grado }}{{ item.Grupo }}</h2>
      <h3>{{ data.escolaridad }}</h3>
      <p>Numero de alumnos: {{ item.Alumnos }}</p>
    </ion-label>
  </ion-item>
</ion-list>