<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="botonHeaderVisible" style="padding-left: 5px;">
            <span style="padding-left: 17px;padding-top: 5px;float: left;">
            <countdown  #countdown [config]="{leftTime : [duracionExamen] }" (event)="eventCountdown($event)"></countdown>
            </span>
            <span>Pregunta</span>
            <span>
               <ion-button style="--background: #ffffff00;
               color: black;
               --color: black;
               --background-activated: #d4d4d461;
               width: auto;
               height: 21px;
               font-size: 17px;
               margin-bottom: 14px;
               margin-left: 0px;
               font-weight: 600;" (click)="abrirPopover($event)">
               {{contadorPregunta}}/{{item.TotalPreguntas}}
              
              <ion-icon slot="end" style="width: 12px;" name="chevron-down-outline"></ion-icon>
            </ion-button> 
            </span>
        </ion-title>
        <ion-title *ngIf="headerInstruccionesVisible">Instrucciones</ion-title>
        <ion-title *ngIf="headerResultadoVisible">Resultado</ion-title>

        <ion-buttons slot="end">
            <ion-button style="margin-top: 8px;margin-right: 8px;" (click)="closeModal()">
                <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides #slider style="height: initial;" [options]='slideOpts'>
        <ion-slide style="display: block;">

            <ion-card style="text-align: initial;    border-bottom: 0px solid #d0d0d0;border-left: none;" class="ion-activatable ripple-parent" mode="ios">
                <ion-card-header>
                    <ion-card-title style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{item.Titulo}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div style="font-weight: 600;">Fecha aplicaion: <span style="font-weight: 400;">{{item.FechaInicio}}</span></div>
                    <div style="font-weight: 600;">Descripcion: </div>
                    <div innerHtml={{item.Descripcion}}></div><br>
                    <div style="font-weight: 600;">Instrucciones generales: <span style="font-weight: 400;"><br> <p><b>1.</b> Tienes <b>{{item.DuracionExamen}}</b> minutos para responder a las siguientes <b>{{item.TotalPreguntas}}</b> preguntas.<br><br> <b>2.</b> Lee atentamente cada pregunta, tendrás un cronometro indicándote cuanto tiempo llevas.<br><br> <b>3.</b> Puedes omitir preguntas y volver a ellas más tarde.</p></span></div>
                </ion-card-content>
            </ion-card>



        </ion-slide>
        <ion-slide style="display: block;">
            <ion-list>
                <ion-radio-group [(ngModel)]="respuestaSeleccionada">
                    <ion-list-header>
                        <ion-label style="text-align: initial;" [innerHtml]="preguntaInfo['Pregunta']"></ion-label>
                    </ion-list-header>

                    <ion-item *ngFor="let item of respuestas">

                        <div innerHtml={{item.Respuesta}}></div>
                        <ion-radio slot="start" color="success" value={{item.Id}} mode="md"></ion-radio>
                    </ion-item>

                </ion-radio-group>

            </ion-list>
        </ion-slide>
        <ion-slide style="height: 63vh;">
            <div>
                <div>
                    <ion-label style="font-size: 17px;font-weight: 600;text-align: center;text-overflow: ellipsis;white-space: nowrap;">
                        ¿Deseas finalizar el examen?
                    </ion-label>
                </div>
                <div>
                    <ion-buttons>
                        <ion-button style="margin: 22px;border-width: 1px; border-style: solid;border-radius: 9px;padding: 6px;" (click)="preguntaFinalizarExamen()">Terminar y ver resultados</ion-button>
                    </ion-buttons>
                </div>
            </div>
        </ion-slide>
        <ion-slide style="display: block;">
            <ion-list>
                <ion-card style="text-align: initial;    border-bottom: 0.6px solid #d0d0d0;border-left: none;" class="ion-activatable ripple-parent" mode="ios">
                    <!--<ion-ripple-effect></ion-ripple-effect>-->
                    <ion-card-header>
                        <ion-card-title style="font-size: 20px;">Resultados</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div style="font-weight: 600;">Iniciado: <span style="font-weight: 400;">{{resultadoExamen?.Iniciado}}</span></div>
                        <div style="font-weight: 600;">Duración: <span style="font-weight: 400;">{{resultadoExamen?.Duracion}} minutos.</span></div>
                        <div style="font-weight: 600;">Score: <span style="font-weight: 400;">{{resultadoExamen?.Puntaje}} (100%)</span></div>
                    </ion-card-content>
                </ion-card>
                <ion-card *ngFor="let item of resultadoExamen?.Preguntas;let i=index" style="text-align: initial;    border-bottom: 0.6px solid #d0d0d0;border-left: none;" class="ion-activatable ripple-parent" mode="ios">
                    <!--<ion-ripple-effect></ion-ripple-effect> -->
                    <ion-card-header>
                        <ion-card-title style="font-size: 20px;">
                            {{i+1}}.- <div class="pregunta" [innerHTML]="item.Pregunta"></div>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div style="font-weight: 600;">Respuesta: <span style="font-weight: 400;" [innerHTML]="item.Respuesta"></span></div>
                        <div style="font-weight: 600;">Respuesta correcta: <span style="font-weight: 400;" [innerHTML]="item.RespuestaCorrecta"></span></div>
                        <div style="font-weight: 600;">Score: <span style="font-weight: 400;">{{item.Score}}</span></div>
                    </ion-card-content>
                </ion-card>
            </ion-list>
        </ion-slide>
    </ion-slides>

</ion-content>
<ion-footer style="transform: translateY(-1px);">
    <ion-toolbar>
        <ion-button *ngIf="botonHeaderVisible" [disabled]='botonSiguienteDisable' style="width: 160.06px;" slot="end" size="small" fill="outline" type="button" icon-start outline block (click)="cambioPregunta('siguiente')">
            {{textoBoton}}
            <ion-icon name="caret-forward-outline" style="margin-right: 3px;"></ion-icon>
        </ion-button>
        <ion-button *ngIf="botonHeaderVisible" [disabled]='botonAnteriorDisable' style="width: 160.06px;" slot="start" size="small" fill="outline" type="button" icon-start outline block (click)="cambioPregunta('anterior')">
            <ion-icon name="caret-back-outline" style="margin-right: 3px;"></ion-icon>
            Anterior
        </ion-button>
        <ion-button *ngIf="botonIniciarVisible" style="width: 160.06px;" slot="end" size="small" fill="outline" type="button" icon-start outline block (click)="iniciarExamen()">
            <ion-icon name="play-circle-outline" style="margin-right: 3px;"></ion-icon>
            Iniciar Examen
        </ion-button>


    </ion-toolbar>
</ion-footer>