<ion-item button detail="false" slot="fixed">
    <ion-chip (click)="openPicker()" color="danger">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>{{mesActual}}</ion-label>
    </ion-chip>
</ion-item>
<ion-list mode="ios">
    <ion-list-header>
        Semana 1
    </ion-list-header>
    <ion-card style="text-align: initial;" class="ion-activatable ripple-parent" mode="ios" *ngFor="let item of LstRecursos | filter : 'Semana 1' : 'Semana'">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
            <ion-card-title>{{ item.Titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content [innerHtml]="item.Descripcion + datosClase(item) | linkify">

        </ion-card-content>
        <ion-item>
            <ion-chip outline color="dark" (click)="openFile(item)" *ngIf=" item.PathRecurso != undefined">
                <ion-icon name="attach-outline"></ion-icon>
                <ion-label>{{item.PathRecurso}}</ion-label>
            </ion-chip>
        </ion-item>
        <ion-item *ngIf="permisoEditar()" style="margin-top: -6px;">
            <ion-button style="transform: translateX(12px);" fill="outline" slot="end" (click)="eliminar($event,item)">Borrar</ion-button>
            <ion-button fill="outline" slot="end" (click)="edit($event,item)">Editar</ion-button>
        </ion-item>
    </ion-card>
    <ion-card style="text-align: initial; " class="ion-activatable ripple-parent " mode="ios " *ngIf="(LstRecursos | filter : 'Semana 1' : 'Semana').length == 0 ">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
            <ion-card-title>Ningun recurso</ion-card-title>
        </ion-card-header>
        <ion-card-content>No hay nada que mostrar</ion-card-content>
    </ion-card>
</ion-list>

<ion-list mode="ios">
    <ion-list-header>
        Semana 2
    </ion-list-header>
    <ion-card style="text-align: initial; " class="ion-activatable ripple-parent " mode="ios" *ngFor="let item of LstRecursos  | filter : 'Semana 2' : 'Semana'; let i=i ndex ">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
            <ion-card-title>{{ item.Titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content [innerHtml]="item.Descripcion + datosClase(item) | linkify">

        </ion-card-content>
        <ion-item>
            <ion-chip outline color="dark" (click)="openFile(item)" *ngIf=" item.PathRecurso != undefined">
                <ion-icon name="attach-outline"></ion-icon>
                <ion-label>{{item.PathRecurso}}</ion-label>
            </ion-chip>
        </ion-item>
        <ion-item *ngIf="permisoEditar()" style="margin-top: -6px;">
            <ion-button style="transform: translateX(12px);" fill="outline" slot="end" (click)="eliminar($event,item)">Borrar</ion-button>
            <ion-button fill="outline" slot="end" (click)="edit($event,item)">Editar</ion-button>
        </ion-item>
    </ion-card>
    <ion-card style="text-align: initial; " class="ion-activatable ripple-parent " mode="ios" *ngIf="(LstRecursos | filter : 'Semana 2' : 'Semana').length == 0 ">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
            <ion-card-title>Ningun recurso</ion-card-title>
        </ion-card-header>
        <ion-card-content>No hay nada que mostrar</ion-card-content>
    </ion-card>
</ion-list>

<ion-list mode="ios">
    <ion-list-header>
        Semana 3
    </ion-list-header>
    <ion-card style="text-align: initial; " class="ion-activatable ripple-parent " mode="ios" *ngFor="let item of LstRecursos  | filter : 'Semana 3' : 'Semana'; let i=i ndex ">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
            <ion-card-title>{{ item.Titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content [innerHtml]="item.Descripcion + datosClase(item) | linkify">

        </ion-card-content>
        <ion-item>
            <ion-chip outline color="dark" (click)="openFile(item)" *ngIf=" item.PathRecurso != undefined">
                <ion-icon name="attach-outline"></ion-icon>
                <ion-label>{{item.PathRecurso}}</ion-label>
            </ion-chip>
        </ion-item>
        <ion-item  *ngIf="permisoEditar()" style="margin-top: -6px;">
            <ion-button style="transform: translateX(12px);" fill="outline" slot="end" (click)="eliminar($event,item)">Borrar</ion-button>
            <ion-button fill="outline" slot="end" (click)="edit($event,item)">Editar</ion-button>
        </ion-item>
    </ion-card>

    <ion-card style="text-align: initial; " class="ion-activatable ripple-parent " mode="ios" *ngIf="(LstRecursos | filter : 'Semana 3' : 'Semana').length == 0 ">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
            <ion-card-title>Ningun recurso</ion-card-title>
        </ion-card-header>
        <ion-card-content>No hay nada que mostrar</ion-card-content>
    </ion-card>
</ion-list>

<ion-list mode="ios">
    <ion-list-header>
        Semana 4
    </ion-list-header>
    <ion-card style="text-align: initial; " class="ion-activatable ripple-parent " mode="ios" *ngFor="let item of LstRecursos  | filter : 'Semana 4' : 'Semana'; let i=i ndex ">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
            <ion-card-title>{{ item.Titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content [innerHtml]="item.Descripcion + datosClase(item)  | linkify">

        </ion-card-content>
        <ion-item>
            <ion-chip outline color="dark" (click)="openFile(item)" *ngIf=" item.PathRecurso != undefined">
                <ion-icon name="attach-outline"></ion-icon>
                <ion-label>{{item.PathRecurso}}</ion-label>
            </ion-chip>
        </ion-item>
        <ion-item  *ngIf="permisoEditar()"  style="margin-top: -6px;">
            <ion-button style="transform: translateX(12px);" fill="outline" slot="end" (click)="eliminar($event,item)">Borrar</ion-button>
            <ion-button fill="outline" slot="end" (click)="edit($event,item)">Editar</ion-button>
        </ion-item>
    </ion-card>
    <ion-card style="text-align: initial; " class="ion-activatable ripple-parent " mode="ios" *ngIf="(LstRecursos | filter : 'Semana 4' : 'Semana').length == 0 ">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
            <ion-card-title>Ningun recurso</ion-card-title>
        </ion-card-header>
        <ion-card-content>No hay nada que mostrar</ion-card-content>
    </ion-card>
</ion-list>