<ion-header>
    <ion-toolbar>
        <ion-title slot="start" style="text-align: initial;padding-left: 20px;font-size: 25px;">Usuarios</ion-title>
        <ion-searchbar showCancelButton="focus" #search style="transform: translateX(84%);
        --background: white;padding-top: 10px; --color: white;" (ionFocus)="focused()" (ionBlur)=blur()></ion-searchbar>
        <ion-button slot="end" style="    margin-top: 2px;
        margin-right: 0px;
        --background: white;
        margin-left: -13px;
        --background-activated: white;" (click)="closeModal()">
            <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
            <!--<ion-icon slot="icon-only" ios="ellips
        is-vertical" md="ellipsis-vertical"></ion-icon>-->
        </ion-button>
    </ion-toolbar>

</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-list-header>
            Grupos
        </ion-list-header>

        <ion-item lines="none">
            <ion-avatar slot="start" style="background-color: blueviolet;">
                <span style="
                        position: absolute;
                        padding-top: 2%;
                        color: white;
                        font-weight: 600;
                        padding-left: 3.3%;">L</span>
                <!-- <img src="./avatar-finn.png">-->
            </ion-avatar>
            <ion-label>
                <h2>Grupo 1A</h2>
                <p>Elemtary school</p>
            </ion-label>
            <ion-checkbox color="danger" checked="false" slot="end" style="--size: 21px;"></ion-checkbox>
        </ion-item>

        <ion-item lines="none">
            <ion-avatar slot="start" style="background-color: blueviolet;">
                <span style="
                        position: absolute;
                        padding-top: 2%;
                        color: white;
                        font-weight: 600;
                        padding-left: 3.3%;">A</span>
                <!-- <img src="./avatar-finn.png">-->
            </ion-avatar>
            <ion-label>
                <h2>Grupo 5A</h2>
                <p>Elemtary school</p>
            </ion-label>
            <ion-checkbox color="danger" checked="false" slot="end" style="--size: 21px;"></ion-checkbox>
        </ion-item>

        <ion-item lines="none">
            <ion-avatar slot="start" style="background-color: blueviolet;">
                <span style="
                        position: absolute;
                        padding-top: 2%;
                        color: white;
                        font-weight: 600;
                        padding-left: 3.3%;">B</span>
                <!-- <img src="./avatar-finn.png">-->
            </ion-avatar>
            <ion-label>
                <h2>Grupo 5B-1</h2>
                <p>Elemtary school</p>
            </ion-label>
            <ion-checkbox color="danger" checked="false" slot="end" style="--size: 21px;"></ion-checkbox>
        </ion-item>

        <ion-item lines="none">
            <ion-avatar slot="start" style="background-color: blueviolet;">
                <span style="
                        position: absolute;
                        padding-top: 2%;
                        color: white;
                        font-weight: 600;
                        padding-left: 3.3%;">C</span>
                <!-- <img src="./avatar-finn.png">-->
            </ion-avatar>
            <ion-label>
                <h2>Grupo 3C-2</h2>
                <p>Elemtary school</p>
            </ion-label>
            <ion-checkbox color="danger" checked="false" slot="end" style="--size: 21px;"></ion-checkbox>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            Todos los alumnos
        </ion-list-header>

        <ion-item lines="none">
            <ion-avatar slot="start" style="background-color: blueviolet;">
                <span style="
                        position: absolute;
                        padding-top: 2%;
                        color: white;
                        font-weight: 600;
                        padding-left: 3.3%;">E</span>
                <!-- <img src="./avatar-finn.png">-->
            </ion-avatar>
            <ion-label>
                <h2>Eduardo guerra</h2>
                <p>3A-2 Elemtary school </p>
            </ion-label>
            <ion-checkbox color="danger" checked="false" slot="end" style="--size: 21px;" (click)="addContact(2)"></ion-checkbox>
        </ion-item>

        <ion-item lines="none">
            <ion-avatar slot="start" style="background-color: blueviolet;">
                <span style="
                        position: absolute;
                        padding-top: 2%;
                        color: white;
                        font-weight: 600;
                        padding-left: 3.3%;">J</span>
                <!-- <img src="./avatar-finn.png">-->
            </ion-avatar>
            <ion-label>
                <h2>Jose Cruz</h2>
                <p>5A-2 Elemtary school </p>
            </ion-label>
            <ion-checkbox color="danger" checked="false" slot="end" style="--size: 21px;" (click)="addContact(1)"></ion-checkbox>
        </ion-item>

        <ion-item lines="none">
            <ion-avatar slot="start" style="background-color: blueviolet;">
                <span style="
                        position: absolute;
                        padding-top: 2%;
                        color: white;
                        font-weight: 600;
                        padding-left: 3.3%;">B</span>
                <!-- <img src="./avatar-finn.png">-->
            </ion-avatar>
            <ion-label>
                <h2>Bernabeu alatorreu</h2>
                <p>1A-2 Elemtary school </p>
            </ion-label>
            <ion-checkbox color="danger" checked="false" slot="end" style="--size: 21px;" (click)="addContact(3)"></ion-checkbox>
        </ion-item>

        <ion-item lines="none">
            <ion-avatar slot="start" style="background-color: blueviolet;">
                <span style="
                        position: absolute;
                        padding-top: 2%;
                        color: white;
                        font-weight: 600;
                        padding-left: 3.3%;">B</span>
                <!-- <img src="./avatar-finn.png">-->
            </ion-avatar>
            <ion-label>
                <h2>Bernabeu alatorreu</h2>
                <p>1A-2 Elemtary school </p>
            </ion-label>
            <ion-checkbox color="danger" checked="false" slot="end" style="--size: 21px;"></ion-checkbox>
        </ion-item>
    </ion-list>



    <ion-fab horizontal="center" (click)="enpezarChat()" vertical="bottom" slot="fixed">
        <ion-fab-button size="small" color="danger">
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>