<ion-card style="text-align: initial;" class="ion-activatable ripple-parent" mode="ios">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
        <ion-card-title>Nombre
            <ion-card-subtitle style="font-size: 20px;">{{user.nombre}}</ion-card-subtitle>
        </ion-card-title>
        <ion-card-title>Grado
            <ion-card-subtitle style="font-size: 20px;">{{user.grado}}°</ion-card-subtitle>
        </ion-card-title>
        <ion-card-title>Usuario
            <ion-card-subtitle style="font-size: 20px;">{{user.usuario}}</ion-card-subtitle>
        </ion-card-title>
    </ion-card-header>

</ion-card>