<ion-header>
    <ion-toolbar>
        <ion-title style="margin-top: 6px;">Examen - {{item.Nombre}}</ion-title>
        <ion-buttons slot="end">
            <ion-button style="margin-top: 8px;margin-right: 8px;" (click)="closeModal()">
                <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="--padding-bottom: 34px;padding-bottom: 34px;">

    <ion-card style="margin-bottom: 0px;margin-top: 0px;text-align: initial;border-bottom: 0.6px solid rgb(208, 208, 208);border-left: none;border-radius: 0px !important;box-shadow: none !important;" class="ion-activatable ripple-parent" mode="ios">
        <!--<ion-ripple-effect></ion-ripple-effect>-->
        <ion-card-header>
            <ion-card-title style="font-size: 20px;">Resultados</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div style="font-weight: 600;">Iniciado: <span style="font-weight: 400;">{{resultadoExamen?.Iniciado}}</span></div>
            <div style="font-weight: 600;">Duración: <span style="font-weight: 400;">{{resultadoExamen?.Duracion}} minutos.</span></div>
            <div style="font-weight: 600;">Score: <span style="font-weight: 400;">{{resultadoExamen?.Puntaje}} {{resultadoExamen?.PuntajePorcentaje}}%</span></div>
        </ion-card-content>
    </ion-card>
    <ion-list>
        <ion-virtual-scroll [items]="resultadoExamen?.Preguntas" approxItemHeight="230px" style="z-index: 999999;">
            <ion-card style="margin-bottom: 0px;margin-top: 0px;text-align: initial;border-bottom: 0.6px solid rgb(208, 208, 208);border-left: none;border-radius: 0px !important;box-shadow: none !important;" *virtualItem="let item; let i=index" mode="ios">

                <ion-card-header>
                    <ion-card-title style="font-size: 20px;">
                        {{i+1}}.-
                        <div class="pregunta" [innerHTML]="item.Pregunta | sanitizePipe"></div>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content *ngIf="item.TipoPregunta=='multipleUnaRespuesta'">
                    <div style="font-weight: 600;">Respuesta: <span style="font-weight: 400;" [innerHTML]="item.Respuesta | sanitizePipe" *ngIf="item.Respuesta!=undefined"></span><span style="font-weight: 400;" *ngIf="item.Respuesta==undefined">No contestaste ninguna respuesta.</span></div>
                    <div style="font-weight: 600;">Respuesta correcta: <span style="font-weight: 400;" [innerHTML]="item.RespuestaCorrecta  | sanitizePipe"></span></div>
                    <div style="font-weight: 600;">Score: <span style="font-weight: 400;">{{item.Score}}</span></div>
                </ion-card-content>
                <ion-card-content *ngIf="item.TipoPregunta=='relacionarPreguntas'">
                    <div style="font-weight: 600;">Tipo de pregunta:<br> <span style="font-weight: 400;">Relacionar</span></div>
                    <div style="font-weight: 600;">Aciertos: <span style="font-weight: 400;">{{item.Aciertos}}</span></div>
                    <div style="font-weight: 600;">Score: <span style="font-weight: 400;">{{item.Score}}</span></div>
                </ion-card-content>
            </ion-card>
        </ion-virtual-scroll>
    </ion-list>

</ion-content>