<ion-list>
  <ion-card style="text-align: initial;" class="ion-activatable ripple-parent" mode="ios" (click)="openDetail(1,'Kinder')">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-card-header>
          <ion-card-title>Kinder</ion-card-title>
      </ion-card-header>
      <ion-card-content>1 profesor</ion-card-content>
  </ion-card>
  <ion-card style="text-align: initial;" class="ion-activatable ripple-parent" mode="ios" (click)="openDetail(2,'Primaria')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
        <ion-card-title>Primaria</ion-card-title>
    </ion-card-header>
    <ion-card-content>1 profesor</ion-card-content>
  </ion-card>
  <ion-card style="text-align: initial;" class="ion-activatable ripple-parent" mode="ios" (click)="openDetail(3,'Secundaria')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
        <ion-card-title>Secundaria</ion-card-title>
    </ion-card-header>
    <ion-card-content>1 profesor</ion-card-content>
  </ion-card>
  <ion-card style="text-align: initial;" class="ion-activatable ripple-parent" mode="ios" (click)="openDetail(4,'Preparatoria')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
        <ion-card-title>Preparatoria</ion-card-title>
    </ion-card-header>
    <ion-card-content>1 profesor</ion-card-content>
  </ion-card>
</ion-list>