<ion-list mode="ios">
    <ion-list-header>
        Grupos
    </ion-list-header>

    <ion-item button lines="none" (click)="openDetailGroups($event,item)" *ngFor="let item of LstGrupos" detail="false">
        <ion-avatar slot="start" style="background-color: blueviolet;">
            <span style="
                    position: absolute;
                    padding-top: 2%;
                    color: white;
                    font-weight: 600;
                    padding-left: 3.3%;">L</span>

        </ion-avatar>
        <ion-label>
            <h2>Grupo {{item.Grado}}{{item.Grupo}}</h2>
            <p>Muy bien Profesor</p>
            <p>12/06/2020</p>
        </ion-label>

    </ion-item>
</ion-list>

<ion-list mode="ios">
    <ion-list-header>
        Recent Conversations
    </ion-list-header>

    <ion-item button lines="none" (click)="openDetail($event,item)" *ngFor="let item of LstChat" detail="false">
        <ion-avatar slot="start">
            <img src="assets/img/unnamed.png">
        </ion-avatar>
        <ion-label>
            <h2>{{item.UsuarioId2Navigation.Nombre}} {{item.UsuarioId2Navigation.ApellidoMaterno}} {{item.UsuarioId2Navigation.ApellidoPaterno}}</h2>
            <p>{{item.UltimoMensaje}}</p>
            <p>{{item.HoraUltimoMensaje}}</p>
        </ion-label>
    </ion-item>

</ion-list>