<ion-list mode="ios">
    <ion-list-header>
        Grupos
    </ion-list-header>

    <ion-item button lines="none" (click)="openDetailGroups($event,item)" *ngFor="let item of LstGrupos" detail="false">
        <ion-avatar slot="start">
            <!--<span style="
                    position: absolute;
                    padding-top: 2%;
                    color: white;
                    font-weight: 600;
                    padding-left: 3.3%;">L</span>-->
                    
                <img src="assets/img/groups.png">
        </ion-avatar>
        <ion-label>
            <h2>Grupo {{item.Grado}}{{item.Grupo}} {{ item.Escolaridad }}</h2>
            <p>{{ item.UltimoMensaje }}</p>
            <p>{{ item.FechaUltimoMensaje | date:'mediumDate' }} {{ item.HoraUlimoMensaje }}</p>
        </ion-label>

    </ion-item>
</ion-list>

<ion-list mode="ios">
    <ion-list-header>
        Recent Conversations
    </ion-list-header>

    <ion-item button lines="none" (click)="openDetail($event,item)" *ngFor="let item of LstChat" detail="false">
        <ion-avatar slot="start">
            <img src="assets/img/unnamed.png">
        </ion-avatar>
        <ion-label>
            <h2>{{item.UsuarioId2Navigation.Nombre | titlecase }} {{item.UsuarioId2Navigation.ApellidoMaterno | titlecase}} {{item.UsuarioId2Navigation.ApellidoPaterno | titlecase}}</h2>
            <p>{{item.UltimoMensaje}}</p>
            <p>{{item.HoraUltimoMensaje}}</p>
        </ion-label>
    </ion-item>

</ion-list>