<ion-card style="text-align: center;border-bottom: 0.6px solid #d0d0d0;border-left: none;border-radius: 0px;box-shadow: none !important;" class="ion-activatable ripple-parent">
    <ion-icon style="font-size: 95px;" name="alert-circle-outline"></ion-icon>
    <ion-card-header>

        <ion-card-title style="text-align: left;color: #333;">Sin conexión a internet.</ion-card-title>
        <ion-card-title style="text-align: left;color: #333;font-size: 17px; padding-top: 5px;font-weight: 500;">Tu dispositivo no cuenta con una conexión a internet. Para poder visualizar esta sección es necesario una conexión estable a internet.</ion-card-title>

    </ion-card-header>
</ion-card>