<ion-header #toolbar [translucent]="false" style="background-color: white;
border-radius: 0px 0px 0px 50px;" mode="ios">
    <ion-toolbar  style="height: 13vh;
   border-radius: 0px 0px 0px 50px;--background:ffffff00">
        <ion-title #text class="etitle">
            <ion-icon name="add-circle" #avatarUser style="color: black; transform: translateY(0.8vh);
            font-size: 27px;font-size: 4vh;"></ion-icon>
            <span style="opacity:0;margin-right: -10px;">-</span> Hola, {{user.nombre}}!
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-header #toolbar1 slot="end" [translucent]="false" style=" top: 0;height: 20vh;
border-radius: 0px 0px 0px 40px;
background-color: #FF426D;
position: absolute;
width: 19vw;
max-width: 130px;
right: 0px;" mode="ios">

    <div style="height: 50%;
    padding-top: 3vh;
    padding-left: 36%;
    font-size: 4vh;
    color: white;" (click)="Salir()">
        <ion-icon name="exit-outline"></ion-icon>

    </div>

    <div style="  height: 50%;
    background-color: #F4315D;
    top: 50%;
    border-radius: 0px 0px 0px 40px;
    text-align: center;
    padding-top: 3vh;
    font-size: 3vh;
    color: aliceblue;">
        V44</div>

</ion-header>

<div #content id="container" style="background-color: #6228cf;" slot="fixed">
    <ion-title #animation7 mode="ios" style="left: 0px;bottom: 0px;padding-bottom: 49vh;padding-left: 30px;padding-right: 90px;padding-top: -1vh;/* padding-bottom: 16vh; *//* padding-bottom: 0px; */position: absolute;width: 100%;height: 100%;transform: translateZ(0px);font-size: 73px;font-weight: 500;text-align: left;box-sizing: border-box;pointer-events: none;--color: #fff;z-index: 5;/* letter-spacing: 3px;*/">
        {{user.campus}}</ion-title>
        
    <ion-icon #animation8 style="color: white;left: 0px;bottom: 0px;padding-bottom: 65vh;padding-left: 37px;padding-right: 79px;padding-top: -1vh;position: absolute;font-size: 34px;font-weight: 500;text-align: left;box-sizing: border-box;pointer-events: none;z-index: 5;" [name]="nombreIcono"></ion-icon>

    <ion-title mode="ios" style="left: 0px;top: 0px;padding-left: 30px;padding-right: 90px;padding-top:67vh;padding-bottom: 0px;position: absolute;width: 100%;height: 100%;transform: translateZ(0px);font-size: 39px;font-weight: 700;text-align: left;box-sizing: border-box;pointer-events: none;z-index: 5;--color: #fff;letter-spacing: 3px;">{{header}}</ion-title>

    <ion-slides #slideUp type="ios" style="transform: translateY(4vh);height: 100%;" (ionSlideTransitionStart)="ionSlideTransitionStart()" (ionSlideTouchEnd)="ionSlideTouchEndSlide()" [options]="slideOpts">
        <ion-slide>
            <div class="animated zoomIn fast" style="margin-bottom: 90pxn; width: 100%;height:100%;background-image: url(assets/img/1.svg);background-repeat: no-repeat;background-size: 100% 100%;"></div>
        </ion-slide>
        <ion-slide>
            <div class="animated zoomIn fast" style="margin-bottom: 90pxn; width: 100%;height:100%;background-image: url(assets/img/06_director.svg);background-repeat: no-repeat;background-size: 100% 100%;"></div>
        </ion-slide>
    </ion-slides>

</div>

<ion-fab mode="ios" vertical="bottom" horizontal="start" slot="fixed" style="margin-left: 23vw;">
    <ion-fab-button #fabstart mode="ios" size="small" style="--box-shadow:none ;--background-activated: #F4315D;  --background: #F4315D;width: 46px;
    height:46px;transform: scale(0);display: none;">
        <ion-icon name="list-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab mode="ios" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="mover()" mode="ios" size="small" #fab style="--box-shadow:none ;--background-activated: #F4315D;  --background: #F4315D;width: 46px;
    height:46px;transform: scale(0);">
        <ion-icon name="chevron-down-outline" style="font-size: 24px;"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab mode="ios" vertical="bottom" horizontal="end" slot="fixed" style="margin-right: 21vw;">
    <ion-fab-button #fabend  mode="ios" size="small" style="--box-shadow:none ;--background-activated: #F4315D;  --background: #F4315D;width: 46px;
    height:46px;transform: scale(0);display: none;">
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>

<!-- Botones para escritorio -->
<ion-fab mode="ios" vertical="center" horizontal="end" slot="fixed" [ngStyle]="{'display': !isMobile ? 'block' : 'none' }">
    <ion-fab-button #fabNext (click)="nextSlide()" mode="ios" size="small" style="--box-shadow:none ;--background-activated: #F4315D;  --background: #F4315D;width: 46px;
    height:46px;">
        <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-fab mode="ios" vertical="center" horizontal="start" slot="fixed" [ngStyle]="{'display': !isMobile ? 'block' : 'none' }">
    <ion-fab-button #fabPrev (click)="prevSlide()" mode="ios" size="small" style="--box-shadow:none ;--background-activated: #F4315D;  --background: #F4315D;width: 46px;
    height:46px;">
        <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>
<!-- Termina botones para escritorio -->

<div #div2  class="edu1" style="transform: translateY(60vh)">
    <div  style="position: -webkit-sticky;top: 0;font-size: 29px;z-index: 999;position: sticky;">    
        <app-pill-menu (click)="test()"  #pillMenu [itemsMenu]="tabs" [selectOption]="selectOption" (indicatorChanged)="segmentChanged($event)"></app-pill-menu>
    </div>
    <ion-header [translucent]="false" mode="ios"></ion-header>
    <ion-content #IonContentScroll [scrollY]="scrollenable" style="--background: #ffffff;">
        <div #elementsToProcess style="bottom: -0.1vh;position: relative;"></div>
        <!--Books-->
        <ion-slides [options]="slideOptsdos" #slideDown (ionSlideTouchEnd)="ionSlideTouchEnd(slideUp,slideDown)" *ngIf="selectSeccion == 1" style="min-height: 72.6vh;">
            <ion-slide>
                <app-codes style="width: 100%;" (librosDescargados)="librosDescargados($event)" *ngIf="codigoVisible"></app-codes>
                <app-books style="width: 100%;" (updateAutoHeightSlider)="updateAutoHeightSlider()" [librosIN]="libros" *ngIf="!codigoVisible"> </app-books>
            </ion-slide>
            <ion-slide>
                <app-codes style="width: 100%;" (librosDescargados)="librosDescargados($event)" *ngIf="codigoVisible"></app-codes>
                <app-books style="width: 100%;" (updateAutoHeightSlider)="updateAutoHeightSlider()" [librosIN]="libros | filter : 'Ingles' : 'Idioma'" *ngIf="!codigoVisible"> </app-books>
            </ion-slide>
            <ion-slide>
                <app-codes style="width: 100%;" (librosDescargados)="librosDescargados($event)" *ngIf="codigoVisible"></app-codes>
                <app-books style="width: 100%;" (updateAutoHeightSlider)="updateAutoHeightSlider()" [librosIN]="libros | filter : 'Espanol' : 'Idioma'" *ngIf="!codigoVisible"> </app-books>
            </ion-slide>
        </ion-slides>

        <!--Users-->
        <ion-slides [options]="slideOptsdos" #slideDown (ionSlideTouchEnd)="ionSlideTouchEnd(slideUp,slideDown)" *ngIf="selectSeccion == 2" style="min-height: 72.6vh;">
            <ion-slide>
                <div style="display: none" #processContainer></div>
            </ion-slide>
            <ion-slide>
                <div style="display: none" #processContainer2></div>
            </ion-slide>
            <ion-slide>
                <app-buscar-usuarios style="width: 100%;"></app-buscar-usuarios>
            </ion-slide>
        </ion-slides>

    </ion-content>
</div>