<ion-card mode="ios">

  <ion-card-header mode="ios" style="padding-bottom: 1px;">
    <ion-card-title style="text-align: initial;">Grupo {{user.grado}}{{user.grupo}}</ion-card-title>
  </ion-card-header>

  <ion-list>
    <ion-list-header style="padding-bottom: 15px">
      Elementary School
    </ion-list-header>

    <ion-item-group>
      <ion-item-divider style="border-radius: 13px;padding-top: 6px;padding-bottom: 6px;">
        <ion-label>Español</ion-label>
      </ion-item-divider>

      <ion-item lines="none" *ngFor="let item of LstMaterias  | filter : 'Español' : 'idioma'" style="padding-left: 23px;">
        <ion-label>{{item.nombre}}</ion-label>
      </ion-item>

      <ion-item-divider style="border-radius: 13px;padding-top: 6px;padding-bottom: 6px;">
        <ion-label>Inglés</ion-label>
      </ion-item-divider>

      <ion-item lines="none" *ngFor="let item of LstMaterias  | filter : 'Ingles' : 'idioma'" style="padding-left: 23px;">
        <ion-label>{{item.nombre}}</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-card>