<ion-progress-bar *ngIf="spiner" type="indeterminate"></ion-progress-bar>
<ion-list>
    <ion-virtual-scroll [items]="LstExamenes" approxItemHeight="300px" style="margin-bottom: 100px;z-index: 999999;">
        <ion-card style="text-align: initial;border-bottom: 0.6px solid #d0d0d0;border-left: none;border-radius: 0px;box-shadow: none !important;" class="ion-activatable ripple-parent" mode="ios" *virtualItem="let item" (click)="openDetail($event,item)">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-card-header>
                <!--ion-icon name="ellipse" style="float: right;color: red;" *ngIf="item.Id>13550 && visto== false && !permisoEditar()"></ion-icon>-->
                <!--<ion-icon name="ellipse" style="float: right;color: red;" *ngIf="item.Id== 14170 && visto2== false && !permisoEditar()"></ion-icon>-->
                <!-- <ion-icon name="ellipse" style="float: right;color: red;" *ngIf="!permisoEditar() && item.Tareasusuarios[0]?.Visto=='NO'"></ion-icon>-->

                <ion-card-title style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ item.Titulo }}</ion-card-title>
            </ion-card-header>
            <!--<ion-card-content style="white-space: pre-line;max-height: 200px;overflow: hidden;">
              {{ item.Descripcion }}
              <br>
          </ion-card-content>-->
            <div class="divCard" style="padding-top: 10px;">
                <b>Grupo:</b> <span *ngIf="item.GrupoIngles=='SI'"> Level</span> {{ item.Grado }}{{ item.Grupo }} {{ item.Escolaridad }}
                <br>
                <b>Materia:</b> {{ item.Materia.Nombre }}
            </div>
            <ion-item class="ion-no-border" lines="none">
                <ion-label>{{item.FechaPublicacion | date:'mediumDate'}}</ion-label>
                <ion-button *ngIf="permisoEditar()" style="transform: translateX(12px);" fill="outline" slot="end" (click)="eliminar($event,item)">Borrar</ion-button>
                <ion-button *ngIf="permisoEditar()" fill="outline" slot="end" (click)="editaExamen($event,item)">Editar</ion-button>
                <ion-button *ngIf="!permisoEditar()" fill="outline" slot="end" (click)="iniciarExamen($event,item)">Iniciar Examen</ion-button>
            </ion-item>
            <ion-item ng-if="$last" lines="none" style="margin-bottom: -35px;"></ion-item>
        </ion-card>
    </ion-virtual-scroll>

</ion-list>
<ion-infinite-scroll threshold="400px" (ionInfinite)="loadData($event)" style="transform: translateY(-51%);">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas usuarios...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>