<ion-header translucent="false" class="ion-no-border" mode="ios">
    <ion-toolbar>
        <ion-title style="margin-top: 6px;">Tarea</ion-title>
        <ion-buttons slot="end">
            <ion-button style="margin-top: 8px;margin-right: 8px;" (click)="closeModal()">
                <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
                <!--<ion-icon slot="icon-only" ios="ellips
        is-vertical" md="ellipsis-vertical"></ion-icon>-->
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scrollX="true" scrollY="true">
    <ion-header class="ion-no-border" collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tarea</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card class="ion-no-border" no style="text-align: initial;" mode="ios">
        <ion-card-header>
            <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Lorem iuis aute irure dol cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est Lorem iuis aute irure dol cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est Lorem iuis aute irure dol cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est Lorem iuis aute irure dol cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        </ion-card-content>
        <ion-card-content>
            Lorem iuis aute irure dol cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est Lorem iuis aute irure dol cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est Lorem iuis aute irure dol cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est Lorem iuis aute irure dol cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        </ion-card-content>
        <ion-card-content>
            Lorem iuis aute irure dol cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est Lorem iuis aute irure dol cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est Lorem iuis aute irure dol cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est Lorem iuis aute irure dol cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        </ion-card-content>
    </ion-card>
</ion-content>