<ion-content>
  <form [formGroup]="FrmLogin" (ngSubmit)="loginUser()">
    <ion-grid style="position:absolute;top: 20%;width: 100%;">
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>LBS Plus Demo</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input formControlName="Usuario" type="email" placeholder="Usuario"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="Password" type="password" placeholder="Password"></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button size="large" type="submit" expand="block">Entrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>