<ion-virtual-scroll [items]="LstEvidencias" approxItemHeight="320px">
    <ion-card style="text-align: initial;" class="ion-activatable ripple-parent" mode="ios" *virtualItem="let item; let itemBounds = bounds;" (click)="openDetail($event,item)">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
            <ion-card-title>{{ item.titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ item.descripcion }}
            <ion-chip outline color="dark" style="margin-top: 14px;" (click)="openFile(item)">
                <ion-icon name="attach-outline"></ion-icon>
                <ion-label>{{item.pathRecurso}}</ion-label>
            </ion-chip>
        </ion-card-content>
    </ion-card>
</ion-virtual-scroll>