<div style="top: 0;height: 56px;position: -webkit-sticky;position: sticky;z-index: 33;background-color: #ffffff;margin: 0x; border-radius: 44px 44px 0px 0px;">
    <ion-fab mode="ios" vertical="top" horizontal="end" style="top:0;padding-right: 49px;padding-top: 2px;" *ngIf="fabVisibleFilters">
        <ion-fab-button style="--box-shadow:none;width: 37px;height: 37px;--ion-color-base: #ffffff00 !important;--ion-color-shade: #ffffff !important;" mode="ios" color="dark" #fab2 size="small" (click)="onClickFiltro($event)">
            <ion-icon name="list-outline" style="color: black;"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab mode="ios" vertical="top" horizontal="end" style="top:0;padding-right: 5px;padding-top: 2px;" *ngIf="fabVisible">
        <ion-fab-button style="--box-shadow:none;width: 37px;height: 37px;" mode="ios" color="dark" #fab2 size="small" (click)="onClickFab($event)">
            <ion-icon style="font-size: 24px;" name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-segment scrollable="true" class="pill-menu animated fadeIn" #ionsegment id="toolbarscroll1" mode="ios" [value]="selectOption" (ionChange)="segmentChanged($event)" scrollable="true">
        <ion-segment-button *ngFor='let item of itemsMenu; let i = index ' value="{{i}}">
            <!-- {{'movies' | translate}} -->
            <ion-label class="ion-text-capitalize">{{item|lowercase}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</div>