ion-segment-button::before {
    opacity: 0;
    margin-top: 0px;
}

ion-segment {
    /* padding: 13px; */
    /*top: 0;*/
    top: 0;
    height: 56px;
    position: sticky;
    z-index: 33;
    background-color: #ffffff;
    /* border-radius: 34px; */
    /* padding-left: 20px; */
    /* padding-top: 21px; */
    margin: 0x;
    /* margin: 0px; */
    //  margin-top: -1px;
    border-radius: 44px 44px 0px 0px;
    //   padding: 12px;
    padding-left: 18px;
}

ion-segment-button {
    --indicator-color: #222428;
    --border-radius: 99px;
    --indicator-height: 29px;
    max-width: fit-content;
    font-size: 14px;
    --indicator-height: 36px;
    --color: #222428;
    --color-checked: white;
    font-weight: bold;
    --indicator-transform: translateY(10px);
    margin: 0;
}

ion-segment-button>ion-label {
    // padding-top: 5px;
}

.boxshadowadd {
    box-shadow: 40vh -3vw 0px 3vw #6228cf, -40vh -3vw 0px 3vw #6228cf;
}