ion-content {
    --background: #000000;
    //--padding-top:15000px;
    //--offset-top:0.8px !important;
}

ion-toolbar {
    --background: #000000;
    --border-color: #000000;
    --border-width: 0px;
    ion-title {
        --color: #ffffff;
    }
}

ion-card {
    --background: #000000;
}

ion-input {
    --color: #ffffff;
}

ion-textarea {
    --color: #ffffff;
}

ion-datetime {
    color: var(--ion-color-light) !important;
}

ion-item {
    --background: #000000;
}


/* chips test */
.lista-archivos {
	width: 100%; 
	height: auto; 
	overflow-y: scroll;
	color: #ffffff;
}

.lista-archivos-ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0;
	display: flex;
	flex-wrap: wrap;
}

/* Media Queries  (Tamaños pantalla */
@media (min-width: 325px) {
	.margin-chips {
		margin-inline: 1px;
	}
}

@media (min-width: 515px) {
	.margin-chips {
		margin-inline: 4px;
	}
}
