#container {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

//segundo container esta clase es importante ya que le dice hasta donde topa el segundo 
#ion-content1 {
    --offset-top: 39vh !important;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

.etitle {
    height: 13vh;
    font-size: 3vh;
    padding: 0px;
    position: relative;
    text-align: start;
    /* padding-left: var(--ion-safe-area-top, 0); */
    padding-left: 8vw;
    color: #272626;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

ion-content ion-toolbar {
    --background: translucent;
}

////////////////////////// listaaaaaaa
.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0;
}

ion-slides {
    height: 100%;
}

.avatar {
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 2.25rem !important;
    -webkit-justify-content: center;
    justify-content: center;
    width: 2.25rem !important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: rgba(255, 255, 255, .87);
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    width: 2rem;
    background: red;
}

ion-item {
    transition: .3s ease-in-out;
}

.exit-enter-styles {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
}

////EFECTO RADIO INVERTIDO
.inverted-border-radius {
    position: relative;
    border-radius: 0px 0px 0px 0;
}

.inverted-border-radius::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -9vh;
    height: 8vh;
    width: 100%;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
    box-shadow: -37vh -1px 0px 0px #6228cf, 37vh -1px 0px 0px #6228cf;
}

.visible {
    visibility: visible !important;
}

.zindexFooterin {
    z-index: 2 !important;
}

.zindexFooterout {
    z-index: 0 !important;
}

.toolbar-container {
    min-height: 10vh !important;
    height: 10vh !important;
}

.sombraFooter {
    box-shadow: 0 -4px 2px 0px #eaeaea;
}

.colortoolbarUP {
    //   background-color: #F4315D !important;
    //   --background: #F4315D !important;
}

.colortoolbarDOWN {
    //// background-color: #FF426D !important;
    //  --background: #FF426D !important;
}