.derecha {
    background-color: blue;
}

.izquierda {
    background-color: black;
}

button {
    border-radius: 132px !important;
    height: 45px !important;
    width: 45px !important;
}

ion-item {
    --inner-padding-bottom: 0px;
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    --inner-padding-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
}