<ion-header translucent="false" class="ion-no-border" mode="ios">
  <ion-toolbar>
      <ion-title style="margin-top: 6px;">{{title}}</ion-title>
      <ion-buttons slot="end">
          <ion-button style="margin-top: 8px;margin-right: 8px;" (click)="closeModal()">
              <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
              <!--<ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>-->
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content #Content fullscreen="true" scrollX="true" scrollY="true">
    <ion-list #chatList style="bottom: 30px;width: 100%;">
      <div *ngFor="let itemChat of LstChats">
          <div *ngIf="usuarioId==itemChat.usuarioId; then derechaTemplate else izquierdaTemplate"></div>
          <ng-template #izquierdaTemplate>
              <ion-item lines="none">
                  <ion-avatar style="position: absolute;" slot="start">
                      <img src="assets/img/avatar-han.png">
                  </ion-avatar>
                  <ion-card-content slot="start" style="background-color: #e8e8e8;margin-left: 43px; margin-top: 4px;border-radius: 15px;margin-right: 53px;padding: 10px">

                      <p>{{itemChat.Mensaje}}</p>

                  </ion-card-content>
              </ion-item>
          </ng-template>
          <ng-template #derechaTemplate>
              <ion-item lines="none">
                  <ion-card-content slot="end" style="background-color: #F4315D;margin-left: 66px; margin-top: 4px;border-radius: 15px;padding: 10px;color: white;">


                      <p>{{itemChat.Mensaje}}</p>

                  </ion-card-content>
              </ion-item>
          </ng-template>
      </div>
  </ion-list>
</ion-content>

<ion-footer style="bottom: 22px; ">
  <ion-toolbar>
      <form [formGroup]="FrmItem" style="display: flex;" (ngSubmit)="crearMensaje()">
          <ion-input formControlName="mensaje" name="mensaje" style="background-color: #e8e8e8;border-radius: 16px;width: 86%;padding-left: 15px !important;height: 38px;margin-top: 4px; " placeholder="Escribir mensaje "></ion-input>
          <ion-button size="small" type="submit" slot="end" style="--border-radius: 34px;;height: 40px;width: 40px;--background: #F4315D;--background-activated: #F4315D; ">
              <ion-icon name="send"></ion-icon>
          </ion-button>
      </form>
  </ion-toolbar>
</ion-footer>