ion-content {
    //--background: #F4315D;
    //--padding-top:15000px;
    //--offset-top:0.8px !important;
}

ion-toolbar {
    //--background: #F4315D;
    //--border-color: #F4315D;
    --border-width: 0px;
    ion-title {
        // --color: #F4315D;
    }
}

ion-card {
    box-shadow: none !important;
}
p.text-error {
    text-align: left;
    color: #e70a0a;
    font-size: 0.8em;
    font-weight: 500;
    padding-left: 16px;
    margin: 2% 0 0;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 200px;
    width: 100%;
}


  ion-button {
    --border-color: #F4315D;
    --color: #F4315D;
    --background-activated: #f4315d3d;
 }

 .card-content-ios {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}