ion-button {
    --border-color: #F4315D;
    --color: #F4315D;
    --background-activated: #F4315D;
}

ion-item {
    --border-color: #ffffff;
}

#container {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

//segundo container esta clase es importante ya que le dice hasta donde topa el segundo 
#ion-content1 {
    //  --offset-top: 39vh !important;
}

#ion-contentx {
    //  --offset-top: -8vh !important;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

.etitle {
    padding-top: 4vh;
    left: 0px;
    top: 0px;
    padding-left: 30px;
    padding-right: 90px;
    padding-bottom: 0px;
    height: 13vh;
    font-size: 3vh;
    //  padding: 0px;
    position: relative;
    text-align: start;
    /* padding-left: var(--ion-safe-area-top, 0); */
    //padding-left: 8vw;
    color: var(--ion-color-principal-tituloUsuario);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

ion-content ion-toolbar {
    --background: translucent;
}

////////////////////////// listaaaaaaa
.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0;
}

ion-slides {
    //  height: 100%;
}

.avatar {
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 2.25rem !important;
    -webkit-justify-content: center;
    justify-content: center;
    width: 2.25rem !important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: rgba(255, 255, 255, .87);
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    width: 2rem;
    background: red;
}

ion-item {
    transition: .3s ease-in-out;
}

.exit-enter-styles {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
}

.visible {
    visibility: visible !important;
}

.zindexFooterin {
    //  z-index: 2 !important;
}

.zindexFooterout {
    //   z-index: 0 !important;
}

.toolbar-container {
    min-height: 10vh !important;
    height: 10vh !important;
}

.sombraFooter {
    box-shadow: 0 -4px 2px 0px #eaeaea;
}

.colortoolbarUP {
    //   background-color: #F4315D !important;
    //   --background: #F4315D !important;
}

.colortoolbarDOWN {
    //// background-color: #FF426D !important;
    //  --background: #FF426D !important;
}

.quitarBottom {
    bottom: 0 !important;
    top: 0vh;
}

// eduardo test	
.edu1 {
    height: 78%;
    top: 28%;
    position: absolute;
    display: block;
    background-color: #fff;
    width: 100%;
    border-top-right-radius: 44px;
    border-top-left-radius: 44px;
}

///////////////////////css books BORRAR VUANDO SE CAMBIA A COMPONENTE